name: Deploy Backend

on:
  push:
    branches: [ "main", "staging" ]
    paths:
      - 'QrLinkki.Api/**'
      - 'QrLinkki.Application/**'
      - 'QrLinkki.Domain/**'
      - 'QrLinkki.Infrastructure/**'
      - '.github/workflows/deploy-backend.yml'
      - 'entrypoint.sh'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract metadata (tags, labels)
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ secrets.DOCKER_USERNAME }}/qrlinkki-api
        tags: |
          type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
          type=raw,value=staging,enable=${{ github.ref == 'refs/heads/staging' }}

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./QrLinkki.Api/Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ${{ steps.meta.outputs.tags }}
